<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Approximation</title>
    <link rel="stylesheet" type="text/css" href="../index.css">
    <script type="text/javascript" src="Point.js"></script>
    <script type="text/javascript" src="CanvasHandler.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>

<body id="PI_body">
    [[INSERT_STATIC_COMPONENT]] navbar
    <h2>Approximation of pi with random integer generation</h2>
    <p>Approximation of pi by generating random numbers using the ratio of points landing closer or further away than a
        certain distance from origo.</p>
    <div id="data"> Approximation: NaN</div>
    <button id="restart"> Restart</button>
    <canvas id="PI_canvas" width=1080 height=1080></canvas>
</body>

</html>
