<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rotating Calipers</title>
    <link rel="stylesheet" type="text/css" href="../index.css">
    <script type="text/javascript" src="Point.js"></script>
    <script type="text/javascript" src="Line.js"></script>
    <script type="text/javascript" src="SetOfPoints.js"></script>
    <script type="text/javascript" src="CanvasHandler.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>

<body>
    [[INSERT_STATIC_COMPONENT]] navbar
    <h3 class="description"> Rotating Calipers</h3>
    <p class="description"> This canvas shows how the rotating calipers method can be used to solve the minimum oriented
        bounding box (OMBB) problem in O(N) given a convex hull (highlighted in green).</p>
    <p class="description"> The black bounding box represents the rotating calipers, whereas the red bounding box
        represents the minimum oriented bounding box found so far.</p>
    <div id="rotatingcalipers_menu">
        <div id="rotatingcalipers_buttonContainer1">
            <button id="rotatingcalipers_restartButton">Restart animation</button>
        </div>
        <div id="rotatingcalipers_buttonContainer3">
            <button id="rotatingcalipers_newButton">New points</button>
        </div>
    </div>
    <canvas id="rotatingcalipers_canvas" width=1920 height=1080></canvas>
</body>

</html>
