#canvas{
    width: 64rem;
    height: 36rem;
    margin: 2rem auto;
    display: block;
    border: 2px gray solid;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #AAAAAA;
}

#description{
    margin: 4rem auto 1rem;
    text-align: center;
}

#toggleRays {
    margin: auto;
    display: block;
}