<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lightsource</title>
    <link rel="stylesheet" type="text/css" href="../index.css">
    <script type="text/javascript" src="Point.js"></script>
    <script type="text/javascript" src="Polygon.js"></script>
    <script type="text/javascript" src="LightSource.js"></script>
    <script type="text/javascript" src="CanvasHandler.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>

<body id="body">
    [[INSERT_STATIC_COMPONENT]] navbar
    <h3 class="description"> 2D Ray Casting</h3>
    <p class="description"> Move the light source by hovering your mouse where you want it. (inspired by
        https://www.redblobgames.com/articles/visibility/)</p>
    <button class="loneTopButton" id="lightsource_toggleRays"> Toggle Light Rays </button>
    <canvas id="canvas" width=1920 height=1080></canvas>
</body>

</html>
