/*
    ####################################################################
        INDEX PAGE STYLING:
    ####################################################################
*/

ul {
    counter-reset: index;  
    padding: 2rem;
    max-width: 330px;
    display: block;
    margin: auto;
    margin-top: 5rem;
    border: 1px solid gray;
    border-radius: 10px;
}

li {
    counter-increment: index; 
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
    font-weight: bold;
}
  
  
/* Element counter */
li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-attachment: fixed;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:visited {
    color: black;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: black;
}

#title {
    text-align: center;
}



/*
    ####################################################################
        GENERAL STYLINGS:
    ####################################################################
*/

canvas{
    width: 64rem;
    height: 36rem;
    margin: 2rem auto;
    display: block;
    border: 2px gray solid;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #AAAAAA;
}

h3.description {
    margin: 4rem auto 1rem;
    text-align: center;
}

p.description{
    text-align: center;
}

button.loneTopButton {
    display: block;
    margin: 2rem auto;
}



/*
    ####################################################################
        SPECIAL STYLING FOR THE SEPARATE ANIMATIONS:
    ####################################################################
*/


/*
    BRIDGE --------------------------------------------------------------
*/

/*
    CLUSTERING ----------------------------------------------------------
*/

/*
    CONVEXHULL ---------------------------------------------------------
*/

#convexhull_menu{
    display: block;
    margin: 2rem auto;
    width: 30%;
}

#convexhull_buttonContainer1{
    display: inline-block;
    width: 32%;
}

#convexhull_buttonContainer2{
    display: inline-block;
    width: 32%;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

#convexhull_buttonContainer3{
    display: inline-block;
    width: 32%;
}

#convexhull_pauseButton{
    display: block;
    margin: auto;
    padding: 5px;
    border-radius: 15px;
    background-color: #F7F7F7;
    transition-duration: 0.4s;
}

#convexhull_pauseButton:hover {
    background-color: #DDDDDD;
}

#convexhull_pauseButton:focus {
    outline: none;
}

#convexhull_restartButton{
    display: block;
    margin: auto;
    padding: 5px;
    border-radius: 15px;
    background-color: #F7F7F7;
    transition-duration: 0.4s;
}

#convexhull_restartButton:hover {
    background-color: #DDDDDD;
}

#convexhull_restartButton:focus {
    outline: none;
}

#convexhull_newButton {
    display: block;
    margin-left: 2rem;
    padding: 5px;
    border-radius: 15px;
    background-color: #F7F7F7;
    transition-duration: 0.4s;
}

#convexhull_newButton:hover {
    background-color: #DDDDDD;
}

#convexhull_newButton:focus {
    outline: none;
}

/*
    GRAVITYVECTORFIELD -------------------------------------------------
*/

/*
    HEXAGONALLABYRINTH -------------------------------------------------
*/

#hexagonallabyrinth_table{
    width: 50rem;
    margin: auto;
}
#hexagonallabyrinth_desc{
    width: 49%;
    display: inline-block;
    margin: auto;
    text-align: center;
    vertical-align: top;
}

/*
    LIGHTSOURCE --------------------------------------------------------
*/

/*
    MST ----------------------------------------------------------------
*/

/*
    ORBIT --------------------------------------------------------------
*/

/*
    PI -----------------------------------------------------------------
*/

#PI_canvas{
    width: 36rem;
}

#PI_body{
    text-align: center;
}

/*
    TRAVELLING SALESMAN ------------------------------------------------
*/

/*
    SUFFIX TREE ------------------------------------------------
*/

#suffix_input_container{
    width: 25%;
    margin: auto;
}

/*
    WAVE EQUATION ---------------------------------------------------------
*/

/*
The pixels were blurry by default
https://stackoverflow.com/questions/42588501/how-do-i-fix-blurry-shape-edges-in-html5-canvas
some css taken from here
*/
#waveequationcanvas{
    width: 36rem;
    height: 36rem;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}