#canvas{
    width: 64rem;
    height: 36rem;
    margin: 0 auto;
    display: block;
    border: 2px gray solid;
    border-radius: 10px;
}

#menu{
    display: block;
    margin: 2rem auto;
    width: 30%;
}

#buttonContainer1{
    display: inline-block;
    width: 32%;
}

#buttonContainer2{
    display: inline-block;
    width: 32%;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

#buttonContainer3{
    display: inline-block;
    width: 32%;
}

#pauseButton{
    display: block;
    margin: auto;
}

#restartButton{
    display: block;
    margin: auto;
}

#newButton {
    display: block;
    margin-left: 2rem;
}
